
body {
  background-image: url("wallpapers/wp.jpg");
  font-family: 'Poiret One', cursive;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #e9e8e4;
  padding: 0.75rem 5rem;
  padding-bottom: 0.5rem;
}
.navbar-light .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  font-size: 1.5rem;
  padding-right: 1.25rem;
  font-weight: bold;
}

/* Title Page*/
.title {
  width: 90%;
  margin: auto;
}
.name-heading {
  font-size: 500%;
  text-align: right;
  font-family: 'Sassy Frass', cursive;
}
.pic {
  border: 5px solid #c9b7a7;
  padding: 1rem;
}
.big-pic {
  width: 90%;
}
.small-pic {
  width: 56%;
}
.col-one {
  margin: 2rem 0;
  padding: 0;
  text-align: right;
}
.col-two {
  margin: 1rem 0;
  padding: 0;
}
.col-three {
  margin: 1rem 0;
  padding: 0;
  text-align: left;
}
.bottom-pic {
  position: relative;
  top: 70px;
}
.para {
  text-align: left;
  padding-top: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.description {
  margin: auto;
  padding: 3rem 2rem 0.5rem;
  text-align: left;
  width: 60%;
}
h5 {
  font-size: 1.4rem;
  font-weight: bold;
}
.cta {
  text-align: center;
  padding: 2rem 0 3rem;
}
.button-link {
  background-color: #dbc6b5;
  border: 2px ridge #e3dcd2;
  box-shadow: 0 5px 5px grey;
  border-radius: 5%;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 1.5rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
}
footer {
  padding: 25px;
  font-size: 15px;
  font-weight: bold;
}


/* Works Page */
.glimpse {
  font-size: 3.25rem;
  font-weight: bold;
  padding-top: 3rem;
}
.proper-align {
  margin: 2rem 3rem;
}
.pic-card {
  box-shadow: 0 10px 15px grey;
  margin: 2rem 1rem;
  width: 14rem;
  z-index: 0;
  transition: transform 0.25s;
}
.pic-card:hover {
  transform: scale(2);
  padding: 2px;
  z-index: 5;
}
.col-width {
  width: 17rem;
  margin: auto;
}


/* About Page */
.about-div {
  margin: 3rem auto 2rem;
  width: 65%;
}
.pro-pic {
  width: 300px;
}
.name {
  font-weight: bold;
  padding: 1.5rem 1rem 1rem;
}
h3 {
  font-weight: bold;
}
.details {
  text-align: left;
}
i {
  font-size: 1.5rem;
  padding: 0 10px;
}
.small-icon {
  font-size: 1.25rem;
}

/* Media query */

@media screen and (max-width: 1120px) {
.name-heading {
  font-size: 5rem;
  margin-top: 5rem;
  text-align: center;
}
.col-one {
  text-align: center;
  margin: 0 auto;
}
.col-three {
  text-align: center;
  margin: 0 auto;
}
.big-pic {
  width: 90%;
  margin: 1.5rem;
}
.small-pic {
  display: none;
}
.para {
  padding-bottom: 1rem;
  padding-top: 8rem;
  text-align: center;
  font-size: 1.75rem;
}
.para-two {
  padding-top: 0.5rem;
}
h5 {
  font-size: 1.8rem;
}
.button-link {
  font-size: 1.6rem;
}
.about-div {
  text-align: center;
}
.glimpse {
  font-size: 2.75rem;
}
.name {
  text-align: center;
}
.details {
  text-align: center;
}
}

@media screen and (max-width: 991px) {
.name-heading {
  font-size: 7.5rem;
  }
.para {
  font-size: 2.25rem;
}
.big-pic {
  width: 60%;
  }
}
