
/* font-family: 'Sassy Frass', cursive;
font-family: 'Poiret One', cursive; */

body {
  background-image: url("wallpapers/wp1.jpg");
  font-family: 'Poiret One', cursive;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #e9e8e4;
  padding: 0.75rem 5rem;
  padding-bottom: 0.5rem;
}
.navbar-light .navbar-brand {
  font-size: 2rem;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  font-size: 1.5rem;
  padding-right: 1.25rem;
}

/* Title Page*/
.name-heading {
  font-size: 80px;
  display: inline;
  position: absolute;
  top: 120px;
  left: 145px;
  font-family: 'Sassy Frass', cursive;
}
.pic {
  border: 5px solid #c9b7a7;
  padding: 1rem;
}
.big-pic {
  width: 370px;
}
.small-pic {
  width: 230px;
}
.top-pic {
  position: relative;
  bottom: 94px;
  left: 4px;
}
.bottom-pic {
  position: relative;
  top: 94px;
  right: 4px;
}
.para {
  display: inline-block;
  position: absolute;
  right: 170px;
}
.para-one {
  bottom: 160px;
}
.para-two {
  bottom: 120px;
}
footer {
  padding: 10px;
  font-size: 15px;
}


/* Works Page */
.glimpse {
  font-size: 3.25rem;
  padding-top: 3rem;
}
.proper-align {
  margin: 2rem 3rem;
}
.pic-card {
  box-shadow: 0 10px 15px grey;
  margin: 2rem 1rem;
  width: 14rem;
}
.pic-card:hover {
  transform: scale(1.2);
}
.col-width {
  width: 17rem;
  margin: auto;
}


/* About Page */
.about-div {
  margin: 3rem auto 2rem;
  width: 65%;
}
.pro-pic {
  width: 300px;
}
.name {
  padding: 1.5rem 1rem 1rem;
}
.details {
  text-align: left;
}
i {
  font-size: 1.5rem;
  padding: 0 10px;
}
.small-icon {
  font-size: 1.25rem;
}

/* Media query */
@media screen and (max-width: 1080px) {
.name-heading {
  display: block;
  position: static;
  margin-top: 2rem;
}
.top-pic {
  position: static;
  margin: 2rem 0;
}
.bottom-pic {
  position: static;
  margin: 2rem 0;
}
.big-pic {
  width: 280px;
}
.small-pic {
  width: 200px;
}
.para {
  display: block;
  position: static;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.about-div {
  text-align: center;
}
.glimpse {
  font-size: 2.75rem;
}
.name {
  text-align: center;
}
}